
/* COLORS */
$clr-white: rgba(255, 255, 255, 1);
$clr-red: rgba(234, 84, 84, 1);
$clr-orange: rgba(252, 174, 74, 1);
$clr-cyan: rgba(68, 211, 210, 1);
$clr-blue: rgba(84, 158, 242, 1);

$clr-light: rgba(250, 250, 250, 1);
$clr-dark: rgba(77, 79, 98, 1);


/* TYPE */
$ff-regular: 'Poppins', sans-serif;

$fs-regular: 0.813rem;
$fs-header: 1.5rem;
$fs-subheader: 1.25rem;
$fs-accent: 0.938rem;

$fs-header-desktop: 2.25rem;


$fw-light: 200;
$fw-regular: 400;
$fw-bold: 600;

$lh-header: 1.5;
$lh-accent: 1.67;